*{
  margin: 0;
  padding:0;
}

body {
  background-image: url("bkgrnd2.png");
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* .flex-container {
  display: flex;
 flex-direction: column;
 background-color: red;
} */

/* style for navbar */
/* Add a black background color to the top navigation */
.topnav {
  position: sticky;
  background-color: #ffffff;
  overflow: hidden;
  border-bottom: 2px solid black;
}

/* NAVBAR STYLE */
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
  color: black;
  font-family: Shrikhand;
  font-size: 27px;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.whiteBack {
  height: 762px;
  width:1500px;
  background-color: white;
}

.pinkBox {
  height: 500px;
  width:1500px;
  background-color: #ffcab1;
  margin: auto;
}

#header {
  font-family: 'Shrikhand';
  font-style: bolditalic;
  font-size: 200px;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#bottomBoxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftBox {
  height: 262px;
  width: 500px;
  background-color: #69a2b0;
}

.leftButton {
  background-color: white;
  border: none;
  color: black;
  font-family: Montserrat;
  padding: 15px 32px;
  float: left;
  margin-top: 110px;
  margin-left: 80px;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  box-shadow: -20px 20px;

}

.centerBox {
  height: 262px;
  width: 500px;
  background-color: #577392;
}

.centerButton {
  background-color: white;
  border: none;
  color: black;
  font-family: Montserrat;
  padding: 15px 32px;
  float: left;
  margin-top: 110px;
  margin-left: 80px;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  box-shadow: -20px 20px;

}

.rightBox {
  height: 262px;
  width: 500px;
  background-color: #e05263;
}

.rightButton {
  background-color: white;
  border: none;
  color: black;
  font-family: Montserrat;
  padding: 15px 32px;
  float: left;
  margin-top: 110px;
  margin-left: 80px;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  box-shadow: -20px 20px;

}

/* FOOTER STYLE */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 40px;
   background-color: black;
   color: white;
   text-align: center;
}
