

*{
  margin: 0;
  padding:0;
}

body {
  background-color: #f9f2f2;
  background-image: url("gridback.png");
  background-blend-mode: difference;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* .flex-container {
  display: flex;
 flex-direction: column;
 background-color: red;
} */

/* style for navbar */
/* Add a black background color to the top navigation */
.topnav {
  position: absolute;
top: 0;
  /* background-color: black; */
  overflow: hidden;
  height: 42px;
  width: 100%;
  font-family: 'Shrikhand';
  /* border-bottom: 2px solid black; */
}

/* NAVBAR STYLE */
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: black; */
  color: black;
  font-family: Shrikhand;
  font-size: 27px;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.whiteBack {
  height: 762px;
  width:1500px;

}

.pinkBox {
  height: 510px;
  width:1500px;
  /* background-color: #469171; */
  margin: auto;
  padding-top: 70px;
  padding-bottom: 90px;
}

.big {
  font-size: 250px;
}

#header {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  font-size: 70px;
  text-align: right;
  padding-right: 100px;
  color: #f98a8a;

  padding-top: 50px;
  margin-left: 50px;
}

 #myName {
   font-family: 'Montserrat';
  font-weight: 900;
  font-style: italic;
  font-size: 190px;
  margin-top: -175px;
  padding-top: -100px;
  margin-left: 100px;
  text-align: left;
  color: black;
  line-height: 225px;
}


.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottomBoxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: ;

}

.leftBox {
  height: 262px;
  width: 500px;
  padding-left: 50px;
}

.leftButton {
  background-color: #b9dbcc;
  border: none;
  color: black;
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
  padding: 15px 32px;
  float: center;
  /* margin-top: 110px;
  margin-left: 50px; */
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  box-shadow: -20px 20px;

}

.leftButton:hover {
  background-color: black;
  color: white;
}

.centerBox {
  height: 262px;
  width: 500px;
  /* background-color: #ffcab1; */
}

.centerButton {
  background-color: #b9dbcc;
  border: none;
  color: black;
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
  padding: 15px 32px;
  float: center;
  /* margin-top: 110px;
  margin-left: 50px; */
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  box-shadow: -20px 20px;

}

.centerButton:hover {
  background-color: black;
  color: white;
}

.rightBox {
  height: 262px;
  width: 500px;
  /* background-color: #ffcab1; */
}

.rightButton {
  background-color: #b9dbcc;
  border: none;
  color: black;
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
  padding: 15px 32px;
  float: center;
  /* margin-top: 110px;
  margin-left: 50px; */
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  box-shadow: -20px 20px;

}

.rightButton:hover {
  background-color: black;
  color: white;
}

/* FOOTER STYLE */
/* .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 40px;
   background-color: black;
   color: white;
   text-align: center;
} */




/* PROJECT.HTML */
.sidenav {
  position: fixed;
  top: 0;
  overflow: hidden;
  height: 60px;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 700;
  background-color: #f9f2f2;


}

/* Style the sidenav links and the dropdown button */
.sidenav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  height: 100px;
  font-style: normal;
  font-weight: 700;
  font-style: italic;

}

/* On mouse-over */
.sidenav a:hover {
  color: #5a9177;
  font-style: italic;
}

.container3{
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 1080px;
  width:100%;
  background-color: white;
  padding-bottom: 90px;
  margin: auto;
  margin-top: 0px;
  padding-top: 100px;
}

.spherrorHeader{
  background-image: url("Image 12-17-19 at 4.35 PM.jpg");
  background-size: contain;
  margin-top: 30px;
  height: 350px;
  width: 350px;
  margin-left: 30px;
}

.spherrorBox{

}
.spherrorName{
  height: 70px;
  width: 400px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: black;
  padding-top: 30px;
  border-radius: 0px 0px 30px 30px;
  margin-right: 50px;
}

.animationHeader{
  background-image: url("thecoffeeshop.jpeg");
  background-size: contain;
  margin-top: 30px;
  height: 350px;
  width: 350px;
  margin-left: 30px;
}

.animationName{
  height: 70px;
  width: 400px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: black;
  padding-top: 30px;
  border-radius: 0px 0px 30px 30px;
}
.blurb{
  padding-top: 10px;
font-family: 'Montserrat';
font-size: 16px;
text-align: center;
font-weight: 400;
font-style: normal;
color: black;
}


.crankyHeader{
  background-image: url("crankylogo.jpg");
  background-size: contain;
  margin-top: 30px;
  height: 350px;
  width: 350px;
  margin-left: 30px;

}

.projectBox{
  height: 500px;
  width: 410px;
  background-color: white;
  margin: 30px;
  /* box-shadow: #d8afaf -20px 20px;
  outline: #d8afaf solid 2px; */
}
.title{
  text-decoration: none;
  color: black;
}

.crankyName{
  height: 70px;
  width: 400px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: white;
  padding-top: 30px;


}

/* BLOG.HTML */
.containerBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogBox {
  height: 200px;
  width: 70%;

  border-bottom: 2px solid black;
}

.blogTitle {
  color: black;
  text-decoration: none;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ABOUT PAGE */
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutName {
  font-family: 'Montserrat';
  font-weight:700;
  font-style: italic;
  font-size: 100px;
  margin-top: -50px;
  line-height: 190px;
  width: 780px;
  display: inline-block;
}

.aboutBlurb {
  font-size: 30px;
  font-family: 'Montserrat';
  line-height: 50px;
  text-align: center;
}

.aboutBox {
  height: 510px;
  width:1500px;
  /* background-color: black; */
  margin: auto;
  padding-top: 70px;
  padding-bottom: 90px;
}



.profile {
  padding-top: 50px;
  padding-left: 50px;
  width: 650px;
  height: auto;
  display: inline-block;
  padding-bottom: 60px;
  /* background-color: black; */
}

.profile img {
  width: 500px;
  height: auto;
}
